body {
  max-width: 1024px;
  margin: 0 auto; 
}

article{
  font-family: Poppins;
  font-size: 1.1em;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  max-width: max-content;
  padding-right: 10px;
}
img{
  border: 1px solid black;
  margin-top: 5px;
}
